$color-primary: #fc4e34;
$color-primarylight: #fef8f8;
$color-black: #0b0d16;
$color-white: #fff;

$color-gray: #92959e;
$color-graydark: #656c76;
$color-blue: #3b7af1;
$color-lightblue: #f6f7fb;
$color-graylight: #f6f7fb;
$color-light: #e5e5e5;
$color-graylight2: #dfe5fc;
$color-graybg: #f5f5f5;
