<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#FC4E34" type="ball-clip-rotate-multiple">
  <p style="font-size: 20px; color: white;margin-top: 10px;">Loading...</p>
</ngx-spinner>
<div class="rightSide__wrapper--spacing">
  <div class="container-fluid">
    <div class="page__header mb-2-sm">
      <div class="page__header__left">
        <h4 class="h4 form__title">Package Expiration</h4>
      </div>
      <!--         <div class="page__header__right">
            <span class="text-md text-black fw-semibold"> (2019-2020) </span>
          </div> -->
    </div>
    <div class="tab_header_row direction-column-md">
      <ul class="nav nav-tabs border-0 nav-tabs-space">
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/membership-package">Membership Package</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" routerLink="/membership-package/expiration">Package
            Expiration</a>
        </li>
      </ul>
      <div class="right_block" style="visibility: hidden">
        <button class="btn btn-sm btn-primary btn-icon-item">
          <img src="assets/images/plus-white.svg" alt="" class="btn__icon__img" />
          <span class="btn__text">Add New</span>
        </button>
      </div>
    </div>
    <div class="tab-content tab-content-sm">
      <div class="tab-pane active" id="packageExpiration">
        <div class="card">
          <div class="card-body pb-0">
            <div class="table-header">
              <div class="button-row left">
                <div class="input__control__block input__rightIcon btn-item">
                  <input type="text" class="form-control form-control-light form-control-sm w-auto"
                    placeholder="Search here" (keyup)="search($event)" />
                  <img src="assets/images/search.svg" class="input__icon__block" />
                </div>
                <button class="btn btn-item btn-sm btn-rounded rounded-circle btn-light-hover">
                  <img src="assets/images/filter.svg" alt="" class="btn-img" />
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-gray text-sm table-bordered border-x-0 mb-0 text-nowrap">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Package</th>
                    <th>Joining Date</th>
                    <th>Expiring Date</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of expiration_list">
                    <td style="display: flex;flex-direction: column">
                      <span>{{ item.first_name }} {{ item.last_name }}</span><span>{{ item.mobile_no }}</span></td>
                    <td>{{ item.package_name }}</td>
                    <td>{{ item.package_start_date | date}}</td>
                    <td>{{ item.package_end_date | date}}</td>
                    <td>{{ item.status }}</td>
                    <td class="py-2">
                      <a class="action__item btn-rounded btn btn-sm rounded-circle btn-light-hover" id="dropaction"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/three-dot-vertical.svg" alt="" class="btn-img" />
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropaction">
                        <button class="dropdown-item" (click)="savePath()"
                          [routerLink]="['/membership-package/assign-membership-package/member/'+ item.id]">
                          Assign Member Package
                        </button>
                        <!-- <button
                        class="dropdown-item"
                      >
                        Remove
                      </button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>