<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="large" color="#FC4E34" type="ball-clip-rotate-multiple">
  <p style="font-size: 20px; color: white;margin-top: 10px;">Loading...</p>
</ngx-spinner>
<div class="rightSide__wrapper--spacing">
  <div class="container-fluid">
    <div class="page__header mb-2-sm">
      <div class="page__header__left">
        <h4 class="h4 form__title">Diet Plan</h4>
      </div>
      <!--        <div class="page__header__right">
          <span class="text-md text-black fw-semibold"> (2019-2020) </span>
        </div> -->
    </div>
    <div class="tab_header_row direction-column-md">
      <ul class="nav nav-tabs border-0 nav-tabs-space">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" routerLink="/diet-chart/chart">Diet Chart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" routerLink="/diet-chart/expiration">Diet Expiration</a>
        </li>
      </ul>
      <div class="right_block">
        <button routerLink="/diet-chart/add-diet" class="btn btn-sm btn-primary btn-icon-item">
          <img src="assets/images/plus-white.svg" alt="" class="btn__icon__img" />
          <span class="btn__text">Add New</span>
        </button>
      </div>
    </div>
    <div class="tab-content tab-content-sm">
      <div class="tab-pane active" id="membershipPackage">
        <div class="card">
          <div class="card-body pb-0">
            <div class="table-header">
              <div class="button-row left">
                <div class="input__control__block input__rightIcon btn-item">
                  <input type="text" class="form-control form-control-light form-control-sm w-auto"
                    placeholder="Search here" (keyup)="search($event)" />
                  <img src="assets/images/search.svg" class="input__icon__block" />
                </div>
                <button class="btn btn-item btn-sm btn-rounded rounded-circle btn-light-hover">
                  <img src="assets/images/filter.svg" alt="" class="btn-img" />
                </button>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-gray text-sm table-bordered border-x-0 mb-0 text-nowrap">
                <thead>
                  <tr>
                    <th>Diet Name</th>
                    <th>Kcal</th>
                    <th>Duration</th>
                    <th>Total Assigned</th>
                    <th>Active Member</th>
                    <th>Expiry Soon</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of tempDietPlans">
                    <td>

                      <span class="d-block td-title"><a
                          [routerLink]="'/diet-chart/view/'+ item.id">{{ item.diet_name }}</a></span>
                      <span class="d-block td-desc text-sm text-secondary">{{
                        getCategoryName(item.category)
                      }}</span>
                    </td>
                    <td style="display: flex; flex-direction: column">
                      <span>{{ item.total_kcal }}</span>
                      <span>Week</span>
                    </td>
                    <td style="text-transform: capitalize">{{ item.duration }} {{ item.duration_spec }}</td>
                    <td>{{ item.total_assigned }}</td>
                    <td>{{ item.active_member }}</td>
                    <td>{{ item.expiry_soon }}</td>
                    <td>
                      <a class="action__item btn-rounded btn btn-sm rounded-circle btn-light-hover" id="dropaction"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/images/three-dot-vertical.svg" alt="" class="btn-img" />
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropaction">
                        <button class="dropdown-item" (click)="editDiet(item.id)">
                          Edit
                        </button>
                        <button class="dropdown-item" (click)="savePath()" [routerLink]="['/diet-chart/assign-diet/diet/'+ item.id]">
                          Assign Diet To Member
                        </button>
                        <!-- <button
                        class="dropdown-item"
                      >
                        Remove
                      </button> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>