.common-drop .btn {
  background: transparent;
  font-size: 12px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border-color: #fc4e34 !important;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dash-company-name button {
  color: #0b0d16 !important;
  font-size: 14px !important;
}
