.disabled{
  cursor: not-allowed;
}

.checkbox-label{
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.floating__label {
  left: 1.3rem;
}

.form-control-lightblue:focus {
  border: none;
  box-shadow: none;
}